{% extends 'base.html' %}

{% block content %}
<table>
    <thead>
        <tr>
            <td>{{header.year}}</td>
            <td>{{header.month}}</td>
            <td>{{header.brute}}</td>
            <td>{{header.net_imposable}}</td>
            <td>{{header.net_avant_impot}}</td>
            <td>{{header.net}}</td>
            <td>{{header.edit}}</td>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.year}}</td>
            <td>{{object.month}}</td>
            <td>{{object.brute}}</td>
            <td>{{object.net_imposable}}</td>
            <td>{{object.net_avant_impot}}</td>
            <td>{{object.net}}</td>
            <td><a href="{% url 'personal:edit' object.slug %}">✎</a></td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}